<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Prediction of Credit Card Default</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<br>
		<label for="age">Age</label>
		<input type="text" name="age" placeholder="Age" required="required" />
        <br>
		<br>
        <label for="sex">Gender</label> 
        <select id="sex" name="sex"> 
          <option value="2">Female</option> 
          <option value="1">Male</option>
        </select> 
        <br>
		<br>
        <label for="marital_status">Marital status</label> 
        <select id="marital_status" name="marital_status"> 
          <option value="1">Married</option> 
          <option value="2">Single</option>
		  <option value="3">Others</option>
        </select> 
        <br>
		<br>
        <label for="education_level">Education level</label> 
        <select id="education_level" name="education_level"> 
          <option value="1">1-Graduate school</option> 
          <option value="2">2-University</option>
		  <option value="3">3-High school</option>
		  <option value="0">0-Others</option>
		</select> 
    	<br>
		<br>
		<label for="limit_balance">Amount of given credit</label>
		<input type="text" name="limit_balance" placeholder="0.00" required="required" />
        <br>
        <br>
        <label for="Repayment status">Repayment status:</label>
        <br>
		<br>
        <label for="pay_0">September</label> 
        <select id="pay_0" name="pay_0"> 
          <option value="-2">payment 2 months earlier</option> 
          <option value="-1">payment 1 month earlier</option>
		  <option value="0">payment on-time</option>
		  <option value="1">payment delay for 1 month</option>
		  <option value="2">payment delay for 2 months</option>
		  <option value="3">payment delay for 3 months</option>
		  <option value="4">payment delay for 4 months</option>
 		  <option value="5">payment delay for 5 months</option>
		  <option value="6">payment delay for 6 months</option>
		  <option value="7">payment delay for 7 months</option>
		  <option value="8">payment delay for 8 months</option>
		  </select> 
        <br>
        <label for="pay_2">August</label> 
        <select id="pay_2" name="pay_2"> 
          <option value="-2">payment 2 months earlier</option> 
          <option value="-1">payment 1 month earlier</option>
		  <option value="0">payment on-time</option>
		  <option value="1">payment delay for 1 month</option>
		  <option value="2">payment delay for 2 months</option>
		  <option value="3">payment delay for 3 months</option>
		  <option value="4">payment delay for 4 months</option>
 		  <option value="5">payment delay for 5 months</option>
		  <option value="6">payment delay for 6 months</option>
		  <option value="7">payment delay for 7 months</option>
		  <option value="8">payment delay for 8 months</option>
		  </select> 
        <br>
        <label for="pay_3">July</label> 
        <select id="pay_3" name="pay_3"> 
          <option value="-2">payment 2 months earlier</option> 
          <option value="-1">payment 1 month earlier</option>
		  <option value="0">payment on-time</option>
		  <option value="1">payment delay for 1 month</option>
		  <option value="2">payment delay for 2 months</option>
		  <option value="3">payment delay for 3 months</option>
		  <option value="4">payment delay for 4 months</option>
 		  <option value="5">payment delay for 5 months</option>
		  <option value="6">payment delay for 6 months</option>
		  <option value="7">payment delay for 7 months</option>
		  <option value="8">payment delay for 8 months</option>
		  </select> 	  
        <br>
        <label for="pay_4">June</label> 
        <select id="pay_4" name="pay_4"> 
          <option value="-2">payment 2 months earlier</option> 
          <option value="-1">payment 1 month earlier</option>
		  <option value="0">payment on-time</option>
		  <option value="1">payment delay for 1 month</option>
		  <option value="2">payment delay for 2 months</option>
		  <option value="3">payment delay for 3 months</option>
		  <option value="4">payment delay for 4 months</option>
 		  <option value="5">payment delay for 5 months</option>
		  <option value="6">payment delay for 6 months</option>
		  <option value="7">payment delay for 7 months</option>
		  <option value="8">payment delay for 8 months</option>
		  </select> 
        <br>		  
        <label for="pay_5">May</label> 
        <select id="pay_5" name="pay_5"> 
          <option value="-2">payment 2 months earlier</option> 
          <option value="-1">payment 1 month earlier</option>
		  <option value="0">payment on-time</option>
		  <option value="1">payment delay for 1 month</option>
		  <option value="2">payment delay for 2 months</option>
		  <option value="3">payment delay for 3 months</option>
		  <option value="4">payment delay for 4 months</option>
 		  <option value="5">payment delay for 5 months</option>
		  <option value="6">payment delay for 6 months</option>
		  <option value="7">payment delay for 7 months</option>
		  <option value="8">payment delay for 8 months</option>
		  </select>		
        <br>		  
        <label for="pay_6">April</label> 
        <select id="pay_6" name="pay_6"> 
          <option value="-2">payment 2 months earlier</option> 
          <option value="-1">payment 1 month earlier</option>
		  <option value="0">payment on-time</option>
		  <option value="1">payment delay for 1 month</option>
		  <option value="2">payment delay for 2 months</option>
		  <option value="3">payment delay for 3 months</option>
		  <option value="4">payment delay for 4 months</option>
 		  <option value="5">payment delay for 5 months</option>
		  <option value="6">payment delay for 6 months</option>
		  <option value="7">payment delay for 7 months</option>
		  <option value="8">payment delay for 8 months</option>
		  </select>	
        <br>
<br>
        <label for="Amount of previous payment">Amount of previous payment:</label>
        <br>
		<br>		  
		<label for="pay_amt_1">September</label>
		<input type="text" name="pay_amt_1" placeholder="0.00" required="required" />
        <br>
		<label for="pay_amt_2">August</label>
		<input type="text" name="pay_amt_2" placeholder="0.00" required="required" />
		<br>       
		<label for="bill_amt_3">July</label>
		<input type="text" name="pay_amt_3" placeholder="0.00" required="required" />
		<br>
		<label for="bill_amt_4">June</label>
		<input type="text" name="pay_amt_4" placeholder="0.00" required="required" />
		<br>
		<label for="bill_amt_5">May</label>
		<input type="text" name="pay_amt_5" placeholder="0.00" required="required" />
		<br>
		<label for="bill_amt_6">April</label>
		<input type="text" name="pay_amt_6" placeholder="0.00" required="required" />
		<br>        
<br>
        <label for="Amount of bill statement">Amount of bill statement:</label>
        <br>
		<br>		  
		<label for="bill_amt_1">September</label>
		<input type="text" name="bill_amt_1" placeholder="0.00" required="required" />
        <br>
		<label for="bill_amt_2">August</label>
		<input type="text" name="bill_amt_2" placeholder="0.00" required="required" />
		<br>       
		<label for="bill_amt_3">July</label>
		<input type="text" name="bill_amt_3" placeholder="0.00" required="required" />
		<br>
		<label for="bill_amt_4">June</label>
		<input type="text" name="bill_amt_4" placeholder="0.00" required="required" />
		<br>
		<label for="bill_amt_5">May</label>
		<input type="text" name="bill_amt_5" placeholder="0.00" required="required" />
		<br>
		<label for="bill_amt_6">April</label>
		<input type="text" name="bill_amt_6" placeholder="0.00" required="required" />
		<br>
		<br> 
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>